.bg-gradient-light {
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }
  
  .card {
    border: none;
    transition: all 0.3s ease;
  }

  .custom-width {
    width: 100%;
    margin: 25px auto;
  }
  
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  
  .list-group-item {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 10px;
    padding: 15px;
    transition: all 0.3s ease;
  }
  
  .list-group-item:last-child {
    border-bottom: none;
  }
  
  .list-group-item:hover {
    background: linear-gradient(120deg, #f6f9fc 0%, #f1f4f7 100%);
  }
  
  .btn-outline-success, .btn-outline-danger {
    transition: all 0.3s ease;
  }
  
  .btn-outline-success:hover, .btn-outline-danger:hover {
    transform: translateY(-2px);
  }