.form-group{
    margin: 20px;
}

.btn-primary{
    margin-left: 20px;
}

.form-group label{
    margin-bottom: 8px;
}

.thin-line-bottom{
    border-bottom: 1px solid #ddd;
    margin: 20;
    
}

.form-control{
    height: 55px;
    background-color: #efefef;
    color: rgb(33, 37, 41);
}

.half-flex-grow{
    flex-grow: 0.5;
}