

<div class="container mt-4">
  <h2>Service Options</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/employee-dashboard">Employee Dashboard</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/manager-dashboard">Manager Dashboard</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/edit-employee">Edit Employee</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/create-employee">Create Employee</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/admin-dashboard">Admin Dashboard</a>
    </li>
  </ul>
</div>
